<!doctype html>
<html lang="en">
  <head>


    <title >MY FIRST PROJECT</title>
      <style>
          #title{
              font-family: "Book Antiqua";
              font-size: 50px;
              background-color: blue;
              color: black;
              text-align: center;
                }
          #comm{
              font-family: Castellar;
              background-color: #27ff16;
              color: #ff3434;
          }

      </style>
  </head>
  <body>
  <table align="center" border="2">
    <tr>
        <th id="title">ONLINE CODE_CADEMY</th>
    </tr>
      <tr >
         <th id="comm">{% block pw %}

         {% endblock %}</th>
      </tr>
  </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>